@model MyCompanion.Models.AddUserViewModel

@{
}

<h1>Sign In</h1>

<form method="post" action="Signin" class="mt-5">
  <div class="mb-3">
    <label for="" class="form-label">Name</label>
    <input type="text" class="form-control" asp-for="Name">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Email</label>
    <input type="email" class="form-control" asp-for="Email">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Username</label>
    <input type="text" class="form-control" asp-for="Username">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Password</label>
    <input type="password" class="form-control" asp-for="Password">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Phone</label>
    <input type="text" class="form-control" asp-for="Phone">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Aadhar</label>
    <input type="text" class="form-control" asp-for="Aadhar">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">City</label>
    <input type="text" class="form-control" asp-for="City">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">PIN</label>
    <input type="text" class="form-control" asp-for="Pin">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>